<app-navbar></app-navbar>
<ion-content>
<div class="container-fluid">

 <div class="row mt-5">
   <div class="col-md-6">
     <div class="row">
       <div class="col-md-6"><h3 style="text-align: left;text-decoration-color: rgb(247, 43, 43);"><strong><p style="font-size: 25px;font-style: oblique;">Press<br> the wheel <br> land on a random prize</p></strong></h3>
        <h3 style="text-align: left;text-decoration-color: rgb(247, 43, 43);"><p style="font-size: 25px;font-style: oblique;"><strong>press the button to land on the corresponding prize</strong></p></h3></div>
       <div class="col-md-6">
        <div class="buttons">
          <button (click)="spin()" class="btn-primary button-hover-highlight" style="width: 190px;height: 100px;" >SPIN</button>
          
          <div class="reset">
            <button (click)="reset()"class="btn-secondary mt-3 button-hover-highlight" style="width: 190px;height: 100px;">Reset</button>
          </div>
        </div>
       </div>
     </div>
    
    
   </div>
   <div class="col-md-6">
    <ngx-wheel
    #wheel
    width='500'
    height='500'
    spinDuration='8'
    [items]='items'
    [innerRadius]='20'
    [spinAmount]='10'
    [textOrientation]='textOrientation'
    [textAlignment]='textAlignment'
    pointerStrokeColor='black'
    pointerFillColor='gold'
    [idToLandOn]='idToLandOn'
    (onSpinStart)='before()'
    (onSpinComplete)='after()'
  ></ngx-wheel>
  >
  
   </div>
 </div> 




</div>
<app-footer></app-footer>
</ion-content>

