.backimg{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwySWStYv92KND9vmSotSfYCE76LjsLQx12Q&usqp=CAU');
    background-size: 100% 100%;
    width: 100%;
    height: 400px;
}