
<div class="container-fluid">
    
  <div class="row  bg-color mt-4 " >
      <div class="col-md-4 mt-2">
          <div class="row">
             <label><strong Class="text-left" style="font-size: 38px; color: rgb(13, 13, 14);"><strong>SHOPPER'S STOP</strong></strong></label> 
          </div>
          <div class="row pt-1">
              <p style="height: 30px;font-size: 20px;">Favorite brands and hottest trends.<br> Find it, love it, buy it.<br> It’s that simple.</p>
          </div>
         
          
          <div class="row pt-5">
              <p class="text-left"><strong>FOLLOW US ON</strong></p>
          </div>
          <div class="row ">
              
                  <div class="col-md-1 px-4" ><a  href="#" class="fa fa-twitter" style="font-size: 35px;"></a></div>
                  <div class="col-md-1  px-4 "><a href="#" class="fa fa-instagram" style="font-size: 35px;"></a></div>
                  <div class="col-md-1 px-4"><a href="#" class="fa fa-facebook" style="font-size: 35px;"></a></div>
                  
              
              
              
          </div>
          <div class="row pt-4 ">
              <a href="#"><i class="material-icons iconstyle px-0 icon-color text-left font-color">&#169;</i></a>
              <p class="pt-1 font-color" >2020,shopper's stop powered bt shopify</p>
          </div>
          
      </div>
      <div class="col-md-4 pt-4">
          <div class="row">
              <div class="col-md-6 pt-4">
                <div class="row pb-2"><a routerLink="/homepage" routerLinlActive="active" style=" color: inherit;font-size: 18px;height: 30px;">HOME</a></div>
                <div class="row pb-2"> <a [routerLink]="['/men']" [queryParams]="{ category: 'TSHIRTS' }"routerLinlActive="active"style="color: black ;font-size: 18px;;height: 30px;">MEN</a></div>
                <div class="row pb-2"><a  routerLink="/women" routerLinlActive="active" style=" color: inherit;;font-size: 18px;;height: 30px;"href="#">WOMEN</a></div>
                <div class="row pb-2"><a [routerLink]="['/men']" [queryParams]="{ category: 'TROUSERS' }"routerLinlActive="active"style="color: black;font-size: 18px;;height: 30px;">TROUSERS</a></div>
                <div class="row pb-2"><a [routerLink] = "['/watches']" [queryParams] = "{category : 'ANALOUGE'}"  style="color: black;font-size: 18px;;height: 30px;" href="#">WATCHES</a></div>
              </div>
              <div class="col-md-6 pt-4">
                <div class="row pb-2"><a href="#" style=" color: inherit;font-size: 18px;height: 30px;">SEARCH</a></div>
                <div class="row pb-2"><a href="#" style="  color: inherit;font-size: 18px;height: 30px;">PRIVACY POLICY</a></div>
                <div class="row pb-2"><a href="#" style="  color: inherit;font-size: 18px;height: 30px;">TERMS & CONDITION</a></div>
                <div class="row pb-2"><a href="#" style="  color: inherit;font-size: 18px;height: 30px;">RETURNS & REFUNDS</a></div>
              </div>
          </div>
      </div>
      <!-- <div class="col-md-2">
          <div class="row pb-2"><a routerLink="/homepage" routerLinlActive="active" style=" color: inherit;">HOME</a></div>
          <div class="row pb-2"> <a [routerLink]="['/men']" [queryParams]="{ category: 'TSHIRTS' }"routerLinlActive="active"style="color: black">MEN</a></div>
          <div class="row pb-2"><a  routerLink="/women" routerLinlActive="active" style=" color: inherit;"href="#">WOMEN</a></div>
          <div class="row pb-2"><a [routerLink]="['/men']" [queryParams]="{ category: 'TROUSERS' }"routerLinlActive="active"style="color: black">TROUSERS</a></div>
          <div class="row pb-2"><a [routerLink] = "['/watches']" [queryParams] = "{category : 'ANALOUGE'}"  style="color: black" href="#">WATCHES</a></div>
      </div>
      <div class="col-md-2">

          <div class="row pb-2"><a href="#" style=" color: inherit;">Search</a></div>
          <div class="row pb-2"><a href="#" style=" color: inherit;">Privacy policy</a></div>
          <div class="row pb-2"><a href="#" style=" color: inherit;">Terms & condition</a></div>
          <div class="row pb-2"><a href="#" style=" color: inherit;">return & refunds</a></div>
          
      </div> -->
     
      <div class="col-md-4 pt-4" >
          <label><strong>NEWSLETTER</strong></label>
          <div class="row">
              <div class="col-md-6 p-0 ">
                  <input type="text"   Placeholder="Email here" style="width:100%;height: 33px;">
              </div>
              <div class="col-md-6 text-left p-0">
                  <button type="button" class="button btn-primary" style="height: 33px; width: 80%;">Signup</button>
              </div>
          </div>
          <div class="row py-5"></div>
          
          <div class="row pt-5">
              <div class="row">
                  <div class="col">
                      <div class="row ">
                          <div class="col-md-2 "></div>
                          <div class="col-md-2">
                              <img src="../../assets/images/visa.png" alt="VISA" class="payapps">
                          </div>
                          <div class="col-md-2">
                              <img src="../../assets/images/mastercard.png" alt="MASTER CARD" class="payapps">
                          </div>
                          <div class="col-md-2">
                              <img src="../../assets/images/amex.png" alt="AMERICAN EXPRESS" class="payapps">
                          </div>
                          <div class="col-md-2">
                              <img src="../../assets/images/razorpay.jpg" alt="RAZORPAY" class="payapps">
                          </div>
                          <div class="col-md-2">
                              <img src="../../assets/images/cod.png" alt="Cash On Delivery" class="payapps">
                          </div>
                      </div>
                  </div>
              </div> 
          </div>
      </div>
      
     
  </div>
  </div>