<ion-header>
    <app-navbar></app-navbar>
</ion-header>
<ion-content>
    
  <div class="container-fluid">
    <div class="row px-5 " style="padding: 40px; ">
        <div class="col-md-12 px-5" style="background-color: rgb(208, 230, 236); height: 400px;  "></div>
    </div>
    <div class="row text-center">
        <div class="col-md-3"></div>
        <div class="col-md-6 " ><strong style="font-size: 25px;">BEST SELLER OF THE SEASON</strong><br style="font-size: 10px;">Loerum ipsum sentence ipsum sentence<br>ipsum sentence loerum sentence </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row text-center  ml-5 py-0 pt-5"style="padding: 50px; " >
        <div class="col-md-2 mx-5 " style="background-color: rgb(208, 230, 236); height: 250px; "></div>
        <div class="col-md-2 mx-5" style="background-color: rgb(208, 230, 236); height: 250px; "></div>
        <div class="col-md-2 mx-5" style="background-color: rgb(208, 230, 236); height: 250px; "></div>
        <div class="col-md-2 mx-5" style="background-color: rgb(208, 230, 236); height: 250px; "></div>
    </div>
    <div class="row text-center ml-5 pt-1" style="padding: 50px;">
        <div class="col-md-2 mx-5"><strong>product name<br>$0.00</strong></div>
        <div class="col-md-2 mx-5"><strong>product name</strong><br><s>$0.00</s><strong> $0.00</strong></div>
        <div class="col-md-2 mx-5"><strong>product name<br>$0.00</strong></div>
        <div class="col-md-2 mx-5"><strong>product name<br>$0.00</strong></div>
    </div>
    <div class="row text-center  ml-5 py-0 pt-5"style="padding: 50px; " >
        <div class="col-md-2 mx-5 " style="background-color: rgb(208, 230, 236); height: 250px; "></div>
        <div class="col-md-2 mx-5" style="background-color: rgb(208, 230, 236); height: 250px; "></div>
        <div class="col-md-2 mx-5" style="background-color: rgb(208, 230, 236); height: 250px; "></div>
        <div class="col-md-2 mx-5" style="background-color: rgb(208, 230, 236); height: 250px; "></div>
    </div>
    <div class="row text-center ml-5 pt-1" style="padding: 50px;">
        <div class="col-md-2 mx-5"><strong>product name<br>$0.00</strong></div>
        <div class="col-md-2 mx-5"><strong>product name</strong><br><s>$0.00</s><strong> $0.00</strong></div>
        <div class="col-md-2 mx-5"><strong>product name<br>$0.00</strong></div>
        <div class="col-md-2 mx-5"><strong>product name</strong><br><s>$0.00</s><strong> $0.00</strong></div>
    </div>
    <div class="row ml-5 " style="padding-left: 50px;">
        <div class="col-md-5"></div>
        <div class="col-md-5"><button class="button btn-primary"><strong>VIEW ALL</strong></button></div>
        <div class="col-md-5"></div>
    </div>
    <div class="row px-5 mt-2 text-center" style="padding: 50px;margin: 80px; ">
        <div class="col-md-12 px-5" style="background-color: rgb(208, 230, 236); height: 400px;  "><p style="padding-top: 150px; font-size: 25px;"><strong> Loreum ipsum Loreum ipsum<br>dorem issac</strong></p></div>
    </div>
    <div class="row text-center mt-0 ml-5 py-0 pt-0 text-center"style="padding-left: 260px;  " >
        <div class="col-md-2 mx-5 " style="background-color: rgb(208, 230, 236); height: 250px; "><p style="font-size: 23px; padding-top: 200px;"><strong>Jackets</strong></p></div>
        <div class="col-md-2 mx-5" style="background-color: rgb(208, 230, 236); height: 250px; "><p style="font-size: 23px; padding-top: 200px;"><strong>Dresses</strong></p></div>
        <div class="col-md-2 mx-5" style="background-color: rgb(208, 230, 236); height: 250px; "><p style="font-size: 23px; padding-top: 200px;"><strong>Watches</strong></p></div>
        <div class="col-md-2 mx-5"  ></div>
    </div>
    <div class="row text-center mt-5 ml-5 py-0 pt-5 text-center"style="padding-left: 260px;  " >
        <div class="col-md-2 mx-5 "><img src="../../assets/images/img_avatar1.png" class="image" alt="Avatar" style="width:100px"></div>
        <div class="col-md-2 mx-5" ><img src="../../assets/images/img_avatar2.png" alt="Avatar" class="image" style="width:100px"></div>
        <div class="col-md-2 mx-5" ><img src="../../assets/images/img_avatar3.jpg" alt="Avatar" class="image" style="width:90px"></div>
        <div class="col-md-2 mx-5"  ></div>
    </div>
    <div class="row text-center mt-0 ml-5 py-0 pt-0 text-center"style="padding-left: 260px;  " >
        <div class="col-md-2 mx-5 "><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span></div>
        <div class="col-md-2 mx-5" ><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span></div>
        <div class="col-md-2 mx-5" ><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span></div>
        <div class="col-md-2 mx-5"  ></div>
    </div>
    <div class="row text-center mt-0 ml-5 py-0 pt-0 text-center"style="padding-left: 260px;  " >
        <div class="col-md-2 mx-5 "><p  style="font-size: 9px;">lorem ipsum dolor sit amet,consectetur<br>adispicing elit,sed do eiusmoet dolore<br>magna aliqua.Ut enim ad minimet<br>dolore magna aliqua.Ut enim</p></div>
        <div class="col-md-2 mx-5" ><p  style="font-size: 9px;">lorem ipsum dolor sit amet,consectetur<br>adispicing elit,sed do eiusmod tempor<br>incident ut labore et dolore magna<br>aliqua.Ut enim ad minim</p></div>
        <div class="col-md-2 mx-5" ><p  style="font-size: 9px;">lorem ipsum dolor sit amet,consectetur<br>adispicing elit,sed do eiusmoet tempor<br>incident ut labore et dolore magna<br>aliqua.et dolore magna aliqua</p></div>
        <div class="col-md-2 mx-5"  ></div>
    </div>
</div>
<app-footer></app-footer>

</ion-content>
