<ion-header>
  <app-navbar></app-navbar>
</ion-header>
<ion-content>
  <div class="container-fluid">
    <div class="row " >
      <div
        class="col-md-12 ">
      <ion-slides class="slide-padding" pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let story of topStories">
        
            <ion-img src="{{story.picture}}" style="height: 600px;"></ion-img>
            <ion-slides pager="true" [options]="slideOptsreverse"></ion-slides>
            </ion-slide>
    </ion-slides></div>
    </div>
    <div class="row text-center">
      <div class="col-md-3"></div>
      <div class="col-md-6 mt-3">
        <strong style="font-size: 25px"><p style="font-size: 35px;">BEST SELLER OF THE SEASON</p></strong
        ><br style="font-size:100px" /><p style="font-size: 25px"> Find yourself. Great stores. Great choices. It's all about you.<br>It's happening here! Just a step away from home.</p>
      </div>
      <div class="col-md-3"></div>
    </div>
    <div class="row ml-0 py-0 px-5 pt-5">
      <div
        class="col-md-3 mb-5"
        style="text-align: center"
        *ngFor="let prod of popularswear"
        routerLink="/product"
        [queryParams]="{_id: prod._id }"
      >
        <div class="col-md-12 card">
          <div class="row" style="height: 270px; text-align: center">
            <img
              src="{{prod.picture}}"
              style="
                height: 300px;
                width: 99%;
                display: block;
                object-fit: cover;
                padding-left: 5px;
              "
            />
          </div>
          <div style="padding-top: 28px">{{prod.productname}}</div>
          <div class="price" style="padding-bottom: 10px">
            <s>{{prod.oldprice}}</s><b> {{prod.price}}</b>
          </div>
          <p><button>Add to Cart</button></p>
        </div>
      </div>
    </div>
    <!-- <div class="row text-center  ml-5 py-0 pt-5"style="padding: 50px; " >
        <div class="col-md-2 mx-5 " style=" height: 250px; "><img src="http://127.0.0.1:8000/static/t-shirt1.jpg" class="image-hover-highlight" style=" height: 250px; "></div>
        <div class="col-md-2 mx-5 " style=" height: 250px; "><img src="http://127.0.0.1:8000/static/t-shirt6.jpg" class="image-hover-highlight"style=" height: 250px; "></div>
        <div class="col-md-2 mx-5 " style=" height: 250px; "><img src="http://127.0.0.1:8000/static/t-shirt3.jpg" class="image-hover-highlight"style=" height: 250px; "></div>
        <div class="col-md-2 mx-5 " style=" height: 250px; "><img src="http://127.0.0.1:8000/static/t-shirt4.jpg"class="image-hover-highlight" style=" height: 250px; "></div>
    </div>
    <div class="row text-center ml-5 pt-1" style="padding: 50px;">
        <div class="col-md-2 mx-5"><strong>product name<br>$0.00</strong></div>
        <div class="col-md-2 mx-5"><strong>product name</strong><br><s>$0.00</s><strong> $0.00</strong></div>
        <div class="col-md-2 mx-5"><strong>product name<br>$0.00</strong></div>
        <div class="col-md-2 mx-5"><strong>product name<br>$0.00</strong></div>
    </div>
    <div class="row text-center  ml-5 py-0 pt-5"style="padding: 50px; " >
        <div class="col-md-2 mx-5 " style=" height: 250px; "><img src="http://127.0.0.1:8000/static/t-shirt5.jpg"class="image-hover-highlight" style=" height: 250px; "></div>
        <div class="col-md-2 mx-5 " style=" height: 250px; "><img src="http://127.0.0.1:8000/static/t-shirt2.jpg" class="image-hover-highlight"style=" height: 250px; "></div>
        <div class="col-md-2 mx-5 " style=" height: 250px; "><img src="http://127.0.0.1:8000/static/t-shirt7.jpg" class="image-hover-highlight"style=" height: 250px; "></div>
        <div class="col-md-2 mx-5 " style=" height: 250px; "><img src="http://127.0.0.1:8000/static/t-shirt8.jpg" class="image-hover-highlight"style=" height: 250px; "></div>
    </div>
    <div class="row text-center ml-5 pt-1" style="padding: 50px;">
        <div class="col-md-2 mx-5"><strong>product name<br>$0.00</strong></div>
        <div class="col-md-2 mx-5"><strong>product name</strong><br><s>$0.00</s><strong> $0.00</strong></div>
        <div class="col-md-2 mx-5"><strong>product name<br>$0.00</strong></div>
        <div class="col-md-2 mx-5"><strong>product name</strong><br><s>$0.00</s><strong> $0.00</strong></div>
    </div> -->
    <div class="row  pt-4">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <button class="btn btn-primary" style="align-items: center;margin-left: 30%;">VIEW ALL PRODUCTS</button>
      </div>
      <div class="col-md-4"></div>
    </div>
  
    <div class="row px-5 mt-2 text-center" style="padding: 50px; margin: 80px">
      
      <div class="col-md-3">
        <ion-slides class="slide-padding" pager="true" [options]="slideOpts1">
          <ion-slide *ngFor="let story of topStories1">
          
              <ion-img src="{{story.picture}}" style="height: 400px;"></ion-img>
              
          
          </ion-slide>
      </ion-slides>
      </div>
      <div class="col-md-3">
        <ion-slides class="slide-padding" pager="true" [options]="slideOpts2">
          <ion-slide *ngFor="let story of topStories2">
          
              <ion-img src="{{story.picture}}" style="height: 400px;"></ion-img>
              
          
          </ion-slide>
      </ion-slides>
      </div>
      <div class="col-md-3">
        <ion-slides class="slide-padding" pager="true" [options]="slideOpts3">
          <ion-slide *ngFor="let story of topStories3">
          
              <ion-img src="{{story.picture}}" style="height: 400px;"></ion-img>
              
          
          </ion-slide>
      </ion-slides>
      </div>
      <div class="col-md-3">
        <ion-slides class="slide-padding" pager="true" [options]="slideOpts4">
          <ion-slide *ngFor="let story of topStories4">
          
              <ion-img src="{{story.picture}}" style="height: 400px;"></ion-img>
              
          
          </ion-slide>
      </ion-slides>
      </div>
      
      <!-- <div
        class="col-md-12 px-5"
        style="background-color: rgb(208, 230, 236); height: 400px"
      >
        <p style="padding-top: 150px; font-size: 25px">
          <strong> Loreum ipsum Loreum ipsum<br />dorem issac</strong>
        </p>
      </div> -->
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-2 ">
        <img src="http://127.0.0.1:8000/static/jackets.jpg" class="image-hover-highlight" style="height: 250px;;">
        <div class="row "><p style="text-align: center;">Jackets</p></div>
      </div>
      <div class="col-md-2">
        <img src="http://127.0.0.1:8000/static/dresses.jpg" class="image-hover-highlight" style="height: 250px;;">
        <div class="row "><p style="text-align: center;">Jackets</p></div>
      </div>
      <div class="col-md-2">
        <img src="http://127.0.0.1:8000/static/watches.jpg" class="image-hover-highlight" style="height: 250px;;">
        <div class="row "><p style="text-align: center;">Jackets</p></div>
      </div>
      <div class="col-md-3"></div>
    </div>
    <!-- <div
      class="row text-center mt-0 ml-5 py-0 pt-0 text-center"
      style="padding-left: 260px"
    >
      <div class="col-md-2 mx-5" style="height: 250px">
        <img
          src="http://127.0.0.1:8000/static/jackets.jpg"
          class="image-hover-highlight"
          style="height: 250px"
        />
        <p style="font-size: 23px"><strong>Jackets</strong></p>
      </div>
      <div class="col-md-2 mx-5" style="height: 250px">
        <img
          src="http://127.0.0.1:8000/static/dresses.jpg"
          class="image-hover-highlight"
          style="height: 250px"
        />
        <p style="font-size: 23px"><strong>Dressses</strong></p>
      </div>
      <div class="col-md-2 mx-5" style="height: 250px">
        <img
          src="http://127.0.0.1:8000/static/watches.jpg"
          class="image-hover-highlight"
          style="height: 250px"
        />
        <p style="font-size: 23px"><strong>Watches</strong></p>
      </div>
      <div class="col-md-2 mx-5"></div>
    </div> -->

    <div
      class="row text-center mt-5 ml-5 py-0 pt-5 text-center"
      style="padding-left: 260px"
    >
      <div class="col-md-2 mx-5">
        <img
          src="../../assets/images/img_avatar1.png"
          class="image"
          alt="Avatar"
          style="width: 100px"
        />
      </div>
      <div class="col-md-2 mx-5">
        <img
          src="../../assets/images/img_avatar2.png"
          alt="Avatar"
          class="image"
          style="width: 100px"
        />
      </div>
      <div class="col-md-2 mx-5">
        <img
          src="../../assets/images/img_avatar3.jpg"
          alt="Avatar"
          class="image"
          style="width: 90px"
        />
      </div>
      <div class="col-md-2 mx-5"></div>
    </div>
    <div
      class="row text-center mt-0 ml-5 py-0 pt-0 text-center"
      style="padding-left: 260px"
    >
      <div class="col-md-2 mx-5">
        <span class="fa fa-star checked"></span
        ><span class="fa fa-star checked"></span
        ><span class="fa fa-star checked"></span
        ><span class="fa fa-star checked"></span
        ><span class="fa fa-star checked"></span>
      </div>
      <div class="col-md-2 mx-5">
        <span class="fa fa-star checked"></span
        ><span class="fa fa-star checked"></span
        ><span class="fa fa-star checked"></span
        ><span class="fa fa-star checked"></span
        ><span class="fa fa-star checked"></span>
      </div>
      <div class="col-md-2 mx-5">
        <span class="fa fa-star checked"></span
        ><span class="fa fa-star checked"></span
        ><span class="fa fa-star checked"></span
        ><span class="fa fa-star checked"></span
        ><span class="fa fa-star checked"></span>
      </div>
      <div class="col-md-2 mx-5"></div>
    </div>
    <div
      class="row text-center mt-0 ml-5 py-0 pt-0 text-center"
      style="padding-left: 260px"
    >
      <div class="col-md-2 mx-5">
        <p style="font-size: 9px">
          lorem ipsum dolor sit amet,consectetur<br />adispicing elit,sed do
          eiusmoet dolore<br />magna aliqua.Ut enim ad minimet<br />dolore magna
          aliqua.Ut enim
        </p>
      </div>
      <div class="col-md-2 mx-5">
        <p style="font-size: 9px">
          lorem ipsum dolor sit amet,consectetur<br />adispicing elit,sed do
          eiusmod tempor<br />incident ut labore et dolore magna<br />aliqua.Ut
          enim ad minim
        </p>
      </div>
      <div class="col-md-2 mx-5">
        <p style="font-size: 9px">
          lorem ipsum dolor sit amet,consectetur<br />adispicing elit,sed do
          eiusmoet tempor<br />incident ut labore et dolore magna<br />aliqua.et
          dolore magna aliqua
        </p>
      </div>
      <div class="col-md-2 mx-5"></div>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>
