

<ion-content>
  <app-navbar></app-navbar>
  <div class="row ">
    <p class="width" style="padding-left: 270px;"><strong>Order History</strong></p>
 </div>
 
 <div class="row ">
     <div class="col-md-2"></div>
     <div class="col-md-8 border">
         <div class="row">
             <div class="col-md-3 px-5 " >
                 <div style="background-color: rgb(208, 230, 236); height: 180px; "></div>
             </div>
             <div class="col-md-4">
                 <div class="row"><strong>Product Name</strong></div>
                 <div class="row pt-2" style="color: rgb(196, 194, 194);">color:Red</div>
                 <div class="row " style="padding-top: 30%;"><strong>Ordered</strong><p style="color: rgb(20, 179, 20);">(Expected Delivery:nov 28,2019)</p></div>
                 
             </div>
             <div class="col-md-1">
                 <div class="row " style="color:rgb(196, 194, 194) ;">Quantity: 1</div>
             </div>
             <div class="col-md-2"><div class="row pl-2" style="padding-top: 110%;"><a href="#"><strong>Order Details</strong></a></div></div>
             <div class="col-md-2">
                 <div class="row"><strong>₹2,000</strong></div>
                 <div class="row"><p style="color: rgb(196, 194, 194); ">(Including of all Taxes)</p></div>
                 <div class="row" style="padding-top: 65%;"><a href="#"><strong>DOWNLOAD INVOICE</strong></a></div>
             </div>
             
         </div>
     </div>
     
     <div class="col-md-2"></div>
 </div>
 <div class="row ">
     <div class="col-md-2"></div>
     <div class="col-md-8 border">
         <div class="row">
             <div class="col-md-3 px-5 " >
                 <div style="background-color: rgb(208, 230, 236); height: 180px; "></div>
             </div>
             <div class="col-md-4">
                 <div class="row"><strong>Product Name</strong></div>
                 <div class="row pt-2" style="color: rgb(196, 194, 194);">color:Red</div>
                 <div class="row " style="padding-top: 30%;"><strong>Ordered</strong><p style="color: rgb(20, 179, 20);">(Expected Delivery:nov 28,2019)</p></div>
                 
             </div>
             <div class="col-md-1">
                 <div class="row " style="color:rgb(196, 194, 194) ;">Quantity: 2</div>
             </div>
             <div class="col-md-2"><div class="row pl-2" style="padding-top: 110%;"><a href="#"><strong>Order Details</strong></a></div></div>
             <div class="col-md-2">
                 <div class="row"><strong>₹1,000</strong></div>
                 <div class="row"><p style="color: rgb(196, 194, 194); ">(Including of all Taxes)</p></div>
                 <div class="row" style="padding-top: 65%;"><a href="#"><strong>DOWNLOAD INVOICE</strong></a></div>
             </div>
             
         </div>
     </div>
     
     <div class="col-md-2"></div>
 </div>
 <div class="row ">
     <div class="col-md-2"></div>
     <div class="col-md-8 border">
         <div class="row">
             <div class="col-md-3 px-5 " >
                 <div style="background-color: rgb(208, 230, 236); height: 180px; "></div>
             </div>
             <div class="col-md-4">
                 <div class="row"><strong>Product Name</strong></div>
                 <div class="row pt-2" style="color: rgb(196, 194, 194);">color:Red</div>
                 <div class="row " style="padding-top: 30%;"><strong>Ordered</strong><p style="color: rgb(20, 179, 20);">(Expected Delivery:nov 28,2019)</p></div>
                 
             </div>
             <div class="col-md-1">
                 <div class="row " style="color:rgb(196, 194, 194) ;">Quantity: 1</div>
             </div>
             <div class="col-md-2"><div class="row pl-2" style="padding-top: 110%;"><a href="#"><strong>Order Details</strong></a></div></div>
             <div class="col-md-2">
                 <div class="row"><strong>₹2,500</strong></div>
                 <div class="row"><p style="color: rgb(196, 194, 194); ">(Including of all Taxes)</p></div>
                 <div class="row" style="padding-top: 65%;"><a href="#"><strong>DOWNLOAD INVOICE</strong></a></div>
             </div>
             
         </div>
     </div>
     
     <div class="col-md-2"></div>
 </div>
 <div class="row ">
     <div class="col-md-2"></div>
     <div class="col-md-8 border">
         <div class="row">
             <div class="col-md-3 px-5 " >
                 <div style="background-color: rgb(208, 230, 236); height: 180px; "></div>
             </div>
             <div class="col-md-4">
                 <div class="row"><strong>Product Name</strong></div>
                 <div class="row pt-2" style="color: rgb(196, 194, 194);">color:Red</div>
                 <div class="row " style="padding-top: 30%;"><strong>Ordered</strong><p style="color: rgb(20, 179, 20);">(Expected Delivery:nov 28,2019)</p></div>
                 
             </div>
             <div class="col-md-1">
                 <div class="row " style="color:rgb(196, 194, 194) ;">Quantity: 1</div>
             </div>
             <div class="col-md-2"><div class="row pl-2" style="padding-top: 110%;"><a href="#"><strong>Order Details</strong></a></div></div>
             <div class="col-md-2">
                 <div class="row"><strong>₹1,700</strong></div>
                 <div class="row"><p style="color: rgb(196, 194, 194); ">(Including of all Taxes)</p></div>
                 <div class="row" style="padding-top: 65%;"><a href="#"><strong>DOWNLOAD INVOICE</strong></a></div>
             </div>
             
         </div>
     </div>
     
     <div class="col-md-2"></div>
 </div>
 <app-footer></app-footer>

</ion-content>
