@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');


.head{
    position: sticky;
    top: 0%;
    background-color: white;
    z-index: 999;
}
.name{
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 7px;
    font-weight: 600;
    margin-top: 9px;
    line-height: 14px;
}
.name > .heading:hover{
    text-decoration-line: underline;
    cursor: pointer;
}
.price{
    font-weight:bold;
    font-size: 17px;
}
.subname{
    display: inline-block;
    width: 364px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: medium;
    font-weight: bold;
}
.soldBy{
    font-family: emoji;
    color: grey;
    font-size: 14px;
    margin-top: 2px;
}
.off{
    text-shadow: 0 0 1.5px #32e81c;
    font-size: 16px;
}

.box:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   
}

#quantity{
    width: 40px;
    text-align: end;
}

.okButton{
    box-shadow: rgba(27, 233, 27, 0.16) 0px 1px 4px, rgb(4, 114, 14) 0px 0px 0px 3px;
    font-weight: bolder;
    padding: 0px;
    width: 22px;
}

.cartDetailsHeading{
    font-weight: bold;
    font-size: 17px;
    color: rgb(87, 85, 85);
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.cartDetails{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.MyCart{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    position: -webkit-sticky;
    position: sticky;
    top: 10%
    
}

.TotalAmount{
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

hr{
    margin-bottom: 0px; border-width: 1px
}

#info:hover{
    cursor:pointer;
}

.tooltip-info{
    border: 2px dotted rgb(17, 17, 17);
    padding: 2px;
    font-size: 15px;
}
