.text-color{
    color: cadetblue;
}
.full-width{
    width: 100%;
}
.bg-color{
    background-color: rgb(245, 239, 239);
}
.fa-facebook {
background: #3B5998;
color: white;
}

.fa-twitter {
background: #55ACEE;
color: white;
}
.fa-instagram {
 background: #125688;
color: white;
}
.logincard{
    border: 1px solid black;
    padding: 50px;
}
.icon-color{
    color: black;
}
.payapps {
    width: 50px;
    height: 50px;
}
.font-color{
    color: rgb(172, 169, 169);
}