<ion-header>
  <app-navbar></app-navbar>
</ion-header>

<ion-content>
  <div class="container-fluid">
    <div class="row text-center  " >
        <div class="col-md-4"></div>
        <div class="col-md-4  mt-5 logincard">
            <div class="row text-centre" style="padding-left: 80px;" >
                <p ><strong style="font-size: 20px; ">Sign up with Shopper's Stop</strong></p>
            </div>
            <!-- <div class="row pb-3">
                <input type="text" id="FirstN" name="First name" Placeholder="First name" class="full-width " style="height: 40px;">
            </div> -->
            <ion-item no-lines>
                <ion-input [(ngModel)]="firstname"  placeholder="First Name " class="full-width userpass " style="height: 40px; text-decoration: none;"></ion-input>
            </ion-item>
            <ion-item no-lines>
                <ion-input [(ngModel)]="email" placeholder="Email" class="full-width userpass " style="height: 40px; text-decoration: none;"></ion-input>
            </ion-item>
            <ion-item no-lines>
                <ion-input type="password" [(ngModel)]="password" placeholder="Password" class="full-width userpass " style="height: 40px; text-decoration: none;"></ion-input>
            </ion-item>
            <ion-item no-lines>
                <ion-input type="number" [(ngModel)]="number" placeholder="Number" class="full-width userpass " style="height: 40px; text-decoration: none;"></ion-input>
            </ion-item>
            <ion-item>
                <ion-button  (click)=" loginMe()"  class="full-width " style="height: 40px;">Create Account</ion-button>
            </ion-item>
            <div class="row px-5 pt-2 mt-2" style="text-align: center; cursor: inherit;">
                    Already have an Account? <nav><a routerLink="/page1" routerLinlActive="active">login</a></nav>
            </div> 
        </div>
    </div>
  </div>
  <app-footer></app-footer>

</ion-content>
<!-- <i class="far fa-eye pt-2" id="togglePassword" style="font-size: 20px; margin-left: -40px;" ></i> -->
