<ion-header>
  <app-navbar></app-navbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="row text-center mt-5">
      <div class="col">
        <div class="d-inline-block login rounded-4">
          <div>
            <img
              class="loginImg mt-3"
              src="http://127.0.0.1:8000/static/assets/loginLogooo.jpg"
              alt="Login"
            />
          </div>
          <div class="mt-2 loginDetails p-4">
            <p class="loginHeading py-4">LOGIN TO YOUR ACCOUNT</p>
            <!-- <form (ngSubmit)="logForm()" [ngModelOptions]="{standalone: true}"> -->
            <!-- <ion-item>
                <ion-input
                  type="email"
                  [(ngModel)]="todo.email"
                  placeholder="Email"
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-input
                  type="password"
                  [(ngModel)]="todo.pass"
                  placeholder="Password"
                ></ion-input>
              </ion-item> 
              <ion-button type="submit" block="true" clear = "True">LOGIN</ion-button> -->

            <form #form="ngForm" (ngSubmit) = "login(form,$event)" (keydown)="login(form,$event)" class="mt-3">
              <ion-item>
                <ion-label position="floating" class="text-secondary"
                  >Email</ion-label
                >
                <ion-input
                  name="email"
                  type="email"
                  [(ngModel)]="todo.email"
                  required
                ></ion-input
              ></ion-item>

              <ion-item style="position: relative">
                <ion-label position="floating" class="text-secondary"
                  >Password</ion-label
                >
                <ion-input
                  name="password"
                  type="password"
                  [(ngModel)]="todo.password"
                  required="true"
                ></ion-input>
                <a href="">
                  <span class="float-right fpass mb-1"> Forgot Password?</span>
                </a>
              </ion-item>
              <p class="mb-1 mt-2 ml-1 text-left text-danger" *ngIf = "failedMsg">{{failedMsg}}</p>
              <!-- <ion-item>
                <ion-input
                  name="password"
                  type="password"
                  placeholder="Password"
                  ngModel
                  required
                ></ion-input>
              </ion-item> -->
              <!-- <ion-item>
                <ion-input
                  name="number"
                  type="number"
                  placeholder="Phone Number"
                  ngModel
                  required
                ></ion-input>
              </ion-item>
             -->
              <ion-button
                [disabled]="form.invalid"
                size="medium"
                type="submit"
                expand="block"
                class="w-100 login-button my-3 mt-2"
                fill="outline"
                ><ion-icon name="log-in" class="pr-1"></ion-icon>
                Login</ion-button
              >
            </form>

            <hr style="border: 2px solid" class="mt-2" />

            <a
              routerLink="/signup"
              class="text-secondary font-weight-bold createAccount"
            >
              NEW HERE? CREATE AN ACCOUNT
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>
