@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Rubik&display=swap');

.login{
   
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    // background: -webkit-linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #C9D6FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
    
//     background: #D3CCE3;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.loginImg {
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.loginHeading{
    background: #0052D4;
    font-weight: bold;
    color: white;
    font-family: "Rubik", serif;
    padding: 46px;
    font-size: 26px;
    // box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    // box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

ion-item{
    --highlight-color-valid: #0052D4;
}
.loginDetails{

}
.login-button{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.fpass{
    font-family: 'FontAwesome';
    font-weight: 600;
    font-size: 15px;
}
.createAccount{
    font-family: 'Rubik';
    font-size: 14px;
}
