<ion-header>
  
</ion-header>

<ion-content>
    <app-navbar></app-navbar>
    <div class="container-fluid ">
        <div class="row m-5">
            <div class="col-md-1 p-1" style="height:auto">
                <div class="row mb-3" style="height: 100px; width: 100px; background-color: #d6eefa;"> 
                    <img src={{picture}} style="height: 100px; width: 100px; display: block; object-fit: cover; ">
                </div>
                <div class="row mb-3" style="height: 100px; width: 100px; background-color: #d6eefa;"> 
                    <img src={{picture}} style="height: 100px; width: 100px; display: block; object-fit: cover; ">
                </div>
                <div class="row mb-3" style="height: 100px; width: 100px; background-color: #d6eefa;"> 
                    <img src={{picture}} style="height: 100px; width: 100px; display: block; object-fit: cover; ">
                </div>
                <div class="row mb-3" style="height: 100px; width: 100px; background-color: #d6eefa;"> 
                    <img src={{picture}} style="height: 100px; width: 100px; display: block; object-fit: cover; ">
                </div>
            </div>
            <div class="col-md-4 p-1" style="height:auto;">
                <div class="row " >
                    <img src={{picture}} style="height: 600px ;width: 450px; display: block; object-fit: cover; ">
                </div>
    
                <div class="row mt-3">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <a href="#" class="fa fa-facebook"></a>
                    </div>
                    <div class="col-md-2">
                        <a href="#" class="fa fa-twitter"></a>
                    </div>
                    <div class="col-md-2">
                        <a href="#" class="fa fa-pinterest"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-7 "  >
                <div class="row py-2" style="font-weight: bolder;font-size: 22px;"> 
                    {{product}}
                </div>
                <div class="row py-2" style="font-weight: bold;font-size: 25px;">
                    {{price}}
                </div>
                
                <div class="row pb-3"  >
                    <button class="sizebutton mr-2" style="width: 100px; color: black;">SMALL</button>
                    <button class="sizebutton mx-2" style="width: 100px;color: black;">MEDIUM</button>
                    <button class="sizebutton mx-2" style="width: 100px;color: black;">LARGE</button>
                </div>
                
                <div class="row py-3 ">
                    <div class="col-md-5 ">
                        <button type="button" class="loginbutton px-5" style="width: 300px;font-weight: bold;" >BUY NOW</button>
                    </div>
                    <div class="col-md-5">
                        <button type="button" class="lbutton px-5" style="width: 300px;font-weight: bold;">ADD TO CART</button>
                    </div>
    
                </div>
                <div class="row py-3">
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-3  pt-2">
                                <i class="material-icons" style="font-size:30px">local_airport</i>
                            </div>
                            <div class="col-md-9 " style="font-size: 15px;">
                                <b>ORDERS SHIP</b> <br> in 5 business days
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="row" >
                            <div class="col-md-3  pt-2">
                                <i class='fas fa-shipping-fast' style="font-size: 25px; " ></i> 
                            </div>
                            <div class="col-md-9 " style="font-size: 15px;">
                                <b>FREE</b> <br> Shipping
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-2  pt-2">
                                <i class="fas fa-thumbs-up" style="font-size: 25px; "></i>
                            </div>
                            <div class="col-md-10 " style="font-size: 15px;">
                                <b>30 Days</b> <br> Return and Refund
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-3  pt-2">
                                <i class="fas fa-check-circle" style="font-size: 30px;"></i>
                            </div>
                            <div class="col-md-9 " style="font-size: 15px;">
                                <b>Secure</b> <br> Payments
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="row pt-2" style="font-weight: bold;">
                    PRODUCT DETAILS
                </div>
                <hr width="110%" color="grey">  
                <div class="row py-1" style="font-size: 14px;">
                    <b>Color</b> - {{color}}
                </div>
                <div class="row py-1" style="font-size: 14px;">
                    <b>weight</b> - {{weight}}
                </div>
                <div class="row py-1" style="font-size: 14px;">
                    <b>dimension</b> - {{dimension}}
                </div>
                <div class="row py-1" style="font-size: 14px;">
                    <b>warranty</b> - {{warranty}}
                </div>
                
            </div>
        </div>
    </div>
  <!-- <div class="container-fluid">
    <div class="row p-4">
        <p style="color:#ababab;">Home > Men > Tshirts > Blue-Neck Tshirt</p>
    </div>
    <div class="row">
        <div class="col-md">

            <div class="side_view">
                <a href="#"><img src="http://127.0.0.1:8000/static/subproduct1.jpg"
                    onclick="change(this.src)" class="productImage"></a>
                <a href="#"><img src="http://127.0.0.1:8000/static/subproduct2.jpg"
                    onclick="change(this.src)" class="productImage"></a>
                <a href="#"><img src="http://127.0.0.1:8000/static/subproduct3.jpg"
                    onclick="change(this.src)" class="productImage"></a>
                <a href="#"><img src="http://127.0.0.1:8000/static/subproduct4.jpg"
                    onclick="change(this.src)" class="productImage"></a>
            </div>

            <div class="main_view">
                <img src="http://127.0.0.1:8000/static/product4.jpg" style="padding: 100px;padding-top: 0%;" id="main" alt="IMAGE">
            </div>


        </div>
        <div class="col-md">
            <div class="row">
                <h3 style="font-weight : 600;">PRODUCT NAME GOES HERE</h3>
            </div>
            <div class="row">
                <span class="mt-2" style="font-size: larger; font-weight: bolder;">$0.00</span>
            </div>
            <div class="row lightPara">
                <p>Size</p>
            </div>
            <div class="SMLbuttons row ">
                <button class="px-3 py-2 font-stretch">SMALL</button>
                <button class="px-3 py-2 font-stretch">MEDIUM</button>
                <button class="px-3 py-2 font-stretch">LARGE</button>
            </div>
            <div class="row lightPara">
                <span class=lightPara-second;>Low Stock : <span class="redLine">Only 5 Left!</span> </span>
            </div>
            <div class="row addToCart mt-4 py-2 font-stretch">
                <button>ADD TO CART</button>
            </div>
            <div class="row pt-4" style="margin-left: -19px;">
                <div class="col-3">
                    <div class="row">
                        <img class="icon" src="../../assets/images/ordership.png" alt="plane">
                        <div class="col iconLine">
                            <p style="font-weight: 700 ; font-size:15px;">ORDERS SHIP</p>
                            <p class="iconLineSmall">In 5 Business Days</p>
                        </div>
                    </div>
                </div>
                <div class="col-3" style="margin-left: 8px;">
                    <div class="row">
                        <img class="icon" src=".../../assets/images/free.png" alt="shipping">
                        <div class="col iconLine">
                            <p style="font-weight: 700 ; font-size:15px;">FREE</p>
                            <p class="iconLineSmall">Shipping</p>
                        </div>
                    </div>
                </div>
                <div class="col-3" style="margin-left: -50px;">
                    <div class="row">
                        <img class="icon" src="../../assets/images/thumps.png" alt="return">
                        <div class="col iconLine">
                            <p style="font-weight: 700 ; font-size:15px;">30 DAY</p>
                            <p class="iconLineSmall">Return and Refund</p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row">
                        <img class="icon" src="../../assets/images/secure.png" alt="secure">
                        <div class="col iconLine">
                            <p style="font-weight: 700 ; font-size:15px;">SECURE</p>
                            <p class="iconLineSmall">Payments</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md productDetails">
                    <h5 class="pt-4">PRODUCT DETAILS</h5>
                    <hr>
                    <div class="details">
                        <p><span>Color</span><span class = "detailsText" *ngFor='let p of users'>{{p.color}} </span></p>
                        <p><span>Weight</span><span class = "detailsText"> - Text goes here</span></p>
                        <p><span>Material</span><span class="detailsText"> - Text goes here</span></p>
                        <p><span>Dimensions</span><span class="detailsText"> - Text goes here</span></p>
                        <p><span>Warranty</span><span class="detailsText"> - Text goes here</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-0">
        <div class="col-md-6">
            <div class="row justify-content-center pt-4">
                <a href="#">
                    <div class=" fa fa-facebook-f socialIcon" ></div>
                </a>
                <a href="#">
                    <div class=" fa fa-twitter socialIcon"></div>
                </a>
                <a href="#">
                    <div class="fa fa-pinterest socialIcon" ></div>
                </a>
                
            </div>
        </div>
    </div>
</div> -->

<script>
    
    const change = src => {
    document.getElementById('main').src = src
}
</script>
<app-footer></app-footer>

</ion-content>
