<ion-header>
  <app-navbar></app-navbar>
</ion-header>

<ion-content>
  <div class ="container-fluid mt-3">
    <div class="row text-center">
        <div class="col-md-4"></div>
        <div class="col-md-4 logincard" >
            <p style="font-size: 35px;"><strong>Profile Details</strong></p>
            <div class="row pb-3">
                <input type="text" id="FirstN" name="First name" placeholder="First name" class="full-width " style="height: 40px;">
            </div>
            <div class="row pb-3">
                <input type="email" id="email" name="email"  placeholder="Email" class="full-width " style="height: 40px;">
            </div>
            <div class="row pb-3">
                <input type="number" id="Number" name="Number" Placeholder=" Mobile number" class="full-width " style="height: 40px;">
               
            </div>
            <div class="row ">
                <button type="button" class="button btn-primary full-width  box-shadow" style=" box-shadow: 2px 2px 2px 2px  #b6b6b6; height: 50px;" >     UPDATE DETAILS   </button>
            </div>
            <div class="row  pt-2 mt-2" style=" cursor: inherit;padding-left: 170px;">
                <a href='#' style="text-align: center; font-size: 20px;">  change password</a>
        </div> 
        </div>
        
        <div class="col-md-4"></div>
    </div>
</div>
<app-footer></app-footer>

</ion-content>
