@import url("https://fonts.googleapis.com/css?family=Ubuntu");



.cardBody {
  display: flex;
  min-height: 100vh;
  font-family: "Ubuntu", sans-serif;
}

h1 {
  font-size: 1.2rem;
  text-transform: capitalize;
}

.card {
  position: relative;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  height: 300px;
  overflow: hidden;
  width: 80%;
}

.card > figure {
  width: 100%;
}

.card > figure > img {
  width: 100%;
}

.details {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  position: absolute;
  top: 75%;
  width: 100%;
  transition: box-shadow 0.3s ease-in-out, top 0.3s ease-in-out;
}

.card:hover .details {
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3);
  top: 30%;
}

.details > .min-details
{
  margin-bottom: 20px;
}

.details > .min-details {
  display: flex;
  justify-content: space-between;
}

.details > .min-details > h1{
    font-family: "Ubuntu", sans-serif; 
    font-weight:600;
    text-align: left;
    font-size: medium;
}

.details > .min-details > h1 > span.sub {
  color: #7b7b7b;
  display: block;
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: -10px;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btn {
  background-color: #192a56;
  border-radius: 5px;
  color: #fff;
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  width: 100%;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.btn:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.price{
  color:rgb(243, 129, 129);
}